*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    font-family: arial;
    font-size: 62.5%;
}
body{
    background-color: #dcdcdc;
}

header{
    background:linear-gradient(to right, #0000CD, #00BFFF);
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    padding-top: 2rem;
    position: fixed;
    width: 100%;
    height: 100px;

}
footer{
    background:linear-gradient(to left, #0000CD, #00BFFF);
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;

    text-shadow: 1px 1px 1px #191919;
}
p{
    text-align: center;
    font-size: 14px;
   
   
}
.conteudo-topo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding-top: 3rem;
    position: relative;
    z-index: 1;
    border-radius: 20px;

}
h1{
    font-size: 2.5rem;
    
}
h2{
font-size: 2rem;
padding-bottom: 3rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 2.5rem;
    color: rgb(0, 155, 0);
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}


figure{
text-align: center;
}
.imagem-sites{
    border-radius: 20px 20px 20px 20px;
    width: 20%;
    height: 5%;
    border: solid #fff;
}
#aluno{
    border-radius: 100%;
    width: 10%;
    height: 2.5%;
}
#compras{
    background-color: #ffff00;
    width: 150px;
    height: 45px;
    right: 0;
    position: fixed;
    text-align: center;
    margin-top: 6rem;
   
}
#grid-conteudo{
    background-color: #ffffff87;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid div{
    background-color: #fff;
    text-align: center;
    padding: 2px;
}
#formulario{
    background-color: #cddb0998;
}
input{
    border:solid;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.8rem;

}
#btn-limpar{
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
#btn-enviar{
    background-color: #008000;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
nav{    
    text-align: right;
    font-size: 1.6rem;
    word-spacing: 10px;
    margin-right: 5%;
    padding-bottom: 5px;

}
.sobre{
    width: 50%;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    border: solid rgba(245, 245, 245, 1);
    margin:  0 auto;
    padding-top: 30px;
    padding: 3rem;
    background: linear-gradient(to bottom, #fff, #f5f5f5);
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: rgb(255, 165, 00);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}
a:hover{
    color: #000;
    border: solid;
    background-color: rgb(40, 350, 40);
    
    
}
.professor{
    text-align: center;
    color: #fff;
    background-color: #0000CD;
    padding: 2rem;
    border-radius: 10px;
}
@media (min-width: 280px) and (max-width: 820px){
    .imagem-sites{
        border-radius: 20px 20px 20px 20px;
        height: 90%;
        width:70%;
    }
    #aluno{
        border-radius: 100%;
        width: 60%;
        height: 40%;
    }